.mapList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 60px 0;
  @include breakpoint(xs) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-flow: column;
    padding: 60px 20px;
  }
  .home__list-item {
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #e9e9e9;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    white-space: unset !important;
  }
  .home__list-title {
    font-weight: bold;
    font-size: 30px;
  }
}
