.sidebar {
  padding: 20px;
  width: 30%;
  &__title {
    margin: 20px 0;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
  }
  &__description {
    font-size: 15px;
    text-align: justify;
  }
}
